{% extends "base.html.twig"%}

{% block body %}

<h1 class="display-4 text-center my-4">{{ title }} </h1>
{# {{}} -> double accolades, ce que l'on apple l'interpolation #}

{% if age > 18 %}

<p> tu es majeur </p>

{% else %}

<p> tu es mineur </p>

{% endif %}

lorem ipusm dolor sit amet lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet
lorem ipusm dolor sit amet

{% endblock %}